html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/* Nasty clearfix hacks */
.clearfix{display:inline-block;}
/* Hide from IE Mac \*/ 
.clearfix{display:block;}
/* End hide from IE Mac */ 
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

html{
  background:#000 url("/images/world_of_warcraft_dragon-wide.jpg") center center no-repeat fixed;
  color:#fff;
  text-shadow: 2px 2px 4px #000000;
}
a{
  color:#fff;
  text-decoration:none;
}
a:hover{
  color:#298dff;
}

#header, #main-body, #footer{
  margin:0 auto;
  width:950px;
}

#logo{display:block; padding-top:20px;}

#primary-nav li{display:inline;}
#primary-nav a{
  float:left;
  margin:10px 10px 30px;
  padding:4px 10px;
  font-size:197%;
  background-color:rgba(0,0,0,0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#left-col{
  float:left;
  width:700px;
  margin-right:50px;
  overflow:hidden;
}
.news-entry{
  margin:10px 0;
}
  p.news-date{
    float:right;
    margin-top:5px;
  }
  .news-entry h2{
    float:left;
    font-size:138.5%;
    margin-bottom:10px;
  }
  .news-entry h2, p.news-date{
    padding:4px 7px;
    background-color:rgba(0,0,0,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

#right-col{
  float:left;
  width:200px;
}

#footer-nav li{display:inline;}
#footer-nav a{
  float:right;
  margin:10px;
  padding:5px 10px;
  font-size:153.9%;
  background-color:rgba(0,0,0,0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}